---
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<div class="search-form">
    <div class="form">
      <input type="text" name="query" placeholder={t('formLabels.search')} />
    </div>
  </div>