---
import Layout from "@layouts/PageLayout.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { ViewFullPost } from "@components/posts/FullPostView";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { param } = Astro.params;
---

<Layout pageTitle={t("pageTitles.clientViewProviderAccount") + " " + param} pageDescription={t("pageTitles.clientViewProviderAccount") + " " + param + " " + t("pageDescriptions.clientViewProviderAccount")}>
  <div
    class="border border-border1 dark:border-border1-DM rounded flex flex-col items-center min-w-96 md:w-5/6 max-w-[950px]"
  >
    <div class="w-full">
      <ViewFullPost id={param} client:only="solid-js" />
    </div>
  </div>
</Layout>
