---
import Layout from "../../layouts/PageLayout.astro";
import { CreateNewPost } from "../../components/posts/CreateNewPost";
---

<Layout>
  <div>
    <h1>Create Post</h1>
  </div>
  <CreateNewPost client:only="solid-js" />
</Layout>