---
import { supabase } from "../../lib/supabaseClient";
import { currentSession } from '../../lib/userSessionStore'

const session  = currentSession.get()

console.log(session)

if (session){
  try {
    const { data: countries , error} = await supabase.from('country').select('*').eq('user_id', session.id);
    if (error) {
      console.log("supabase error: " + error)
    } else {
      console.log(countries)
    }
  }
  catch (error) {
    console.log("Other error: " + error)
  }
}

---

<div>
    <h2>Register</h2>
    <form  method="POST" id="user-form">
      <div class="form-group">
        <label for="FirstName">First Name:</label>
        <input type="text" id="FirstName" name="FirstName" required />
      </div>
      <div class="form-group">
        <label for="LastName">Last Name:</label>
        <input type="text" id="LastName" name="LastName" required />
      </div>
      <div class="form-group">
        <label for="ProviderName">Provider Name:</label>
        <input type="text" id="ProviderName" name="ProviderName" />
      </div>
      <div class="form-group">
        <label for="Phone">Phone Number:</label>
        <input type="text" id="Phone" name="Phone" required />
      </div>
      <div class="form-group">
        <label for="MajorMunicipality">Major Municipality:</label>
        <input type="text" id="MajorMunicipality" name="MajorMunicipality" required/>
      </div>
      <div class="form-group">
        <label for="MinorMunicipality">Minor Municipality:</label>
        <input type="text" id="MinorMunicipality" name="MinorMunicipality" required/>
      </div>
      <div class="form-group">
        <label for="GoverningDistrict">Governing District:</label>
        <input type="text" id="GoverningDistrict" name="GoverningDistrict" required/>
      </div>
      <div class="form-group">
        <label for="PostalArea">Postal Area:</label>
        <input type="text" id="PostalArea" name="PostalArea" />
      </div>
      <div class="form-group">
        <label for="confirmar-contrasena">Country:</label>
        <input type="text" id="confirmar-contrasena" name="confirmar-contrasena" />
      </div>
    </form>
  </div>