---
import Layout from '../layouts/PageLayout.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout>
    <div class="flex-col place-content-center m-8 font-bold">
	    <h1 class="text-5xl text-center m-4 text-text1 dark:text-text1-DM">{t('pageTitles.page404')}</h1>
        <h2 class="text-3xl text-center m-2 text-text1 dark:text-text1-DM">{t('messages.error404')}</h2>
        <div class="text-center">
            <form>
            <button class="btn-primary dark:bg-btn1-DM dark:hover:bg-btn1hov " type="submit" formaction=`/${lang}`>{t('buttons.returnHome')}</button>
            </form>
        </div>
    </div>
</Layout>
