---
import Layout from "../layouts/PageLayout.astro";
import { Content } from "../content/about/about.mdx";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);


const classes = () => {
  if (lang === "en" || lang === "fr") {
    return "underline text-link1 dark:text-link1-DM";
  } else if (lang === "es") {
    return "";
  }
};
---

<Layout pageTitle={t("pageTitles.about")}>
  <div>
    <div class="mb-8">
      <h1 class="font-bold text-3xl mb-2 text-ptext1 dark:text-ptext1-DM">
        {t("pageTitles.about")}
      </h1>
    </div>
    <div class="prose dark:prose-invert">
      <Content />
    </div>
  </div>
</Layout>
