---
import PageLayout from "@layouts/PageLayout.astro";
import { CartView } from "@components/common/cart/ViewCart";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<PageLayout
    pageTitle={t("pageTitles.viewCart")}
    pageDescription={t("pageDescriptions.viewCart")}
>
    <div
        class="text-center mt-4 md:mb-8 bg-background1 dark:bg-background1-DM w-full"
    >
        <div class="">
            <CartView client:only="solid-js" />
        </div>
    </div>
</PageLayout>
