---
import PageLayout from "@layouts/PageLayout.astro";
import { CheckoutView } from "@components/common/cart/Checkout";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<PageLayout
    pageTitle={t("pageTitles.viewCart")}
    pageDescription={t("pageDescriptions.viewCart")}
    stickyFooter={false}
>
    <div class="mt-4 bg-background1 dark:bg-background1-DM w-full">
        <div class="">
            <CheckoutView client:only="solid-js" />
        </div>
    </div>
</PageLayout>
