---

---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Password Reset</title>
    </head>
    <body style="font-family: 'Poppins', Arial, sans-serif">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center" style="padding: 20px;">
                    <table
                        class="content"
                        width="600"
                        border="0"
                        cellspacing="0"
                        cellpadding="0"
                        style="border-collapse: collapse; border: 1px solid #cccccc;"
                    >
                        <!-- Header -->
                        <tr>
                            <td
                                class="p-10 text-center text-4xl bg-btn1 text-white flex align-middle justify-center"
                            >
                                <img
                                    src={"src/assets/LearnGroveLogoBWNoText.svg"}
                                    alt="LearnGrove Logo"
                                    class="h-8 w-8 rounded-full bg-background1 object-cover dark:bg-icon1-DM mr-3"
                                />
                                 LearnGrove
                            </td>
                        </tr>

                        <!-- Body -->
                        <tr>
                            <td class="p-10 text-left text-base">
                                <!-- You are requesting to update your email address to {{ .NewEmail }}. -->

                                 Hello, <br />
                                <br />
                                 We received a request to reset your password
                                for your account. We're here to help! Simply
                                click on the link below to set a new password:
                                <br/>
                                <button type="">change password </button>
                                <br/>
                                Change my password If you didn't ask to change
                                your password, don't worry! Your password is
                                still safe and you can delete this email. To get
                                a new password reset link, click here
                                <!-- <br /><br /> -->
                            </td>
                        </tr>

                        <!-- <!-- Call to action Button --> -->
                        <!-- <tr> -->
                        <!--     <td -->
                        <!--         style="padding: 0px 40px 0px 40px; text-align: center;" -->
                        <!--         class="px-10 text-center" -->
                        <!--     > -->
                        <!--         <!-- CTA Button --> -->
                        <!--         <table -->
                        <!--             cellspacing="0" -->
                        <!--             cellpadding="0" -->
                        <!--             style="margin: auto;" -->
                        <!--         > -->
                        <!--             <tr> -->
                        <!--                 <td -->
                        <!--                     align="center" -->
                        <!--                     style="background-color: #345C72; padding: 10px 20px; border-radius: 5px;" -->
                        <!--                 > -->
                        <!--                     <a -->
                        <!--                         href="https://www.yourwebsite.com" -->
                        <!--                         target="_blank" -->
                        <!--                         style="color: #ffffff; text-decoration: none; font-weight: bold;" -->
                        <!--                         >Book a Free Consulatation</a -->
                        <!--                     > -->
                        <!--                 </td> -->
                        <!--             </tr> -->
                        <!--         </table> -->
                        <!--     </td> -->
                        <!-- </tr> -->
                        <tr>
                            <td
                                class="body"
                                style="padding: 40px; text-align: left; font-size: 16px; line-height: 1.6;"
                            >
                                Lorem ipsum dolor sit amet consectetur
                            </td>
                        </tr>
                        <!-- Footer -->
                        <tr>
                            <td
                                style=" padding: 40px; text-align: center; color: white; font-size: 14px;"
                                class="footer p-10 text-center text-sm bg-background2"
                            >
                                <p>
                                    <!-- <a href="mailto:hege@example.com">Discord</a -->
                                    <!-- > -->

                                    <!-- <a href="mailto:hege@example.com" -->
                                    <!--     >Facebook</a -->
                                    <!-- > -->
                                </p>
                                <div class="text-xl">
                                    <p>LearnGrove</p>
                                </div>
                                <p>
                                    Brought to you by
                                    <a
                                        href="https://datagrove.com"
                                        class="text-link1">Datagrove</a
                                    >
                                     . All rights reserved.
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
<style>
    @media screen and (max-width: 600px) {
        .content {
            width: 100% !important;
            display: block !important;
            padding: 10px !important;
        }
        .header,
        .body,
        .footer {
            padding: 20px !important;
            width: 100%;
        }
    }
</style>
