---
import Layout from "@layouts/PageLayout.astro";
import { AuthMode } from "@components/common/AuthMode";
import { SignUpBtn } from "@components/common/SignUpButton";
import { Home } from "@components/home/Home";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import services from "@assets/services.png";
import servicesDM from "@assets/servicesDM.png";
import { postcss } from "tailwindcss";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout
    pageTitle={t("pageTitles.home")}
    pageDescription={t("pageDescriptions.home")}
>
    <div class="w-full">
        <Home client:only="solid-js" />
    </div>
</Layout>
