---
import Layout from "@layouts/PageLayout.astro";
import { Home } from "@components/home/Home";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { HomeStickyFilters } from "@components/home/HomeStickyFilters";
import { HomeSubjectCarousel } from "@components/home/HomeSubjectCarousel";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout
    pageTitle={t("pageTitles.home")}
    pageDescription={t("pageDescriptions.home")}
>
    <div class="w-full">
        <!-- @ts-ignore -->
        <Home client:visible lang={lang}>
            <HomeStickyFilters
                lang={lang}
                client:only="solid-js"
                slot="stickyFilters"
            />
            <HomeSubjectCarousel
                lang={lang}
                client:only="solid-js"
                slot={"subjectCarousel"}
            />
        </Home>
    </div>
</Layout>
