---
import { SITE } from "../config";
import PageLayout from '../layouts/PageLayout.astro';
import { Auth } from "../lib/Auth";
import { NewPassword } from "../components/users/RequestNewPassword";
---

<PageLayout>
	<div class="flex flex-col justify-center bg-primaryBackground text-center mt-4 mb-8">
		<h2 class="text-2xl w-full text-primaryText py-2">Request Password Reset</h2>
		<NewPassword client:load/>
	</div>

</PageLayout>