---
import PageLayout from "@layouts/PageLayout.astro";
import { ResourcesView } from "@components/services/ResourcesMain";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<PageLayout
    pageTitle={t("pageTitles.services")}
    pageDescription={t("pageDescriptions.services")}
>
    <div class="text-center mb-8 bg-background1 dark:bg-background1-DM w-full">
        <div class="text-center">
            <ResourcesView client:only="solid-js" />
        </div>
    </div>
</PageLayout>
