---
import SearchBar from '../components/services/SearchBar.astro';
import PageLayout from '../layouts/ServicesLayout.astro';
import { CategoryCarousel } from '../components/services/CategoryCarousel';
---

<PageLayout pageTitle="Services">
    <div class="text-center mt-4 mb-8">
        <h2 class="text-xl w-full italic">Services</h2>
        <CategoryCarousel />
        <SearchBar />
    </div>
</PageLayout>