---
import PageLayout from '@layouts/PageLayout.astro';
import { ServicesView } from '@components/services/ServicesMain';
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<PageLayout pageTitle={t('pageTitles.services')} pageDescription={t('pageDescriptions.services')}>
    <div class="text-center mt-4 mb-8 bg-background1 dark:bg-background1-DM w-full">
    <div class="text-center mt-4 mb-8">
        <h2 class="text-xl w-full italic text-ptext1 dark:text-ptext1-DM">{t('pageTitles.services')}</h2>
        <ServicesView client:only="solid-js" />
    </div>
</PageLayout>
