---
import { SITE } from "../config";
import type BaseLayout from "../layouts/BaseLayout.astro";
import PageLayout from '../layouts/PageLayout.astro';
import { Auth } from "../lib/Auth";

const AuthData = { mode: "sign_up"}
---

<PageLayout>
	<div class="text-center mt-4 mb-8">
		<h2 class="text-xl w-full italic">Sign Up</h2>
	</div>
	<!-- Call the auth form in sign up mode -->
	<Auth client:load {...AuthData}/>
</PageLayout>