---
import { SITE } from "../config";
import type BaseLayout from "../layouts/BaseLayout.astro";
import PageLayout from "../layouts/PageLayout.astro";
import { Auth } from "../lib/Auth";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const AuthData = { mode: "sign_up" };
---

<PageLayout pageTitle={t("pageTitles.signUp")} pageDescription={t("pageDescriptions.signUp")}>
  <div>
    <div class="text-center mt-4 mb-8">
      <h2 class="text-xl w-full italic text-ptext1 dark:text-ptext1-DM">{t("pageTitles.signUp")}</h2>
    </div>
    <div
      class="bg-background1 border-border1 border max-w-md max-h-max p-5 m-auto rounded-md dark:bg-background1-DM dark:border-border1-DM"
    >
      <!-- Call the auth form in sign up mode -->
      <Auth client:only="solid-js" {...AuthData} />
    </div>
  </div>
</PageLayout>
