---
import Layout from "@layouts/PageLayout.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { getCollection } from "astro:content";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const policyPage = await getCollection("policies", ({ data }) => data.lang === lang && data.policyType === "terms");
const { Content } = await policyPage[0].render();
---

<Layout
    pageTitle={t("pageTitles.terms")}
    pageDescription={t("pageDescriptions.terms")}
>
    <div class="mx-6">
        <div class="mb-8">
            <h1 class="font-bold text-3xl mb-2 text-ptext1 dark:text-ptext1-DM">
                {t("pageTitles.terms")}
            </h1>
            <!-- <p>
                {t("messages.translations")}
            </p> -->
        </div>
        <div class="prose dark:prose-invert">
            <Content />
        </div>
    </div>
</Layout>
