---
import Layout from "@layouts/PageLayout.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { UserProfileView } from "@components/members/UserProfileView";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout
    pageTitle={t("pageTitles.viewUserAccount")}
    pageDescription={t("pageDescriptions.viewUserAccount")}
>
    <div class="w-full">
        <UserProfileView client:only="solid-js" />
    </div>
</Layout>
