---
import LearnGroveCommunity from "@src/assets/LearnGroveCommunity.png";
import Rachael from "@src/assets/team/Rachael.jpeg";
import German from "@src/assets/team/German.jpeg";
import Meagan from "@src/assets/team/Meagan.jpeg";
---


<div>
    <div class="prose dark:prose-invert">
        <h1>Meet Our Team</h1>
    </div>
    <div class="w-36 border-2 border-gray-400 rounded-full flex-row text-center justify-center h-36">
        <!-- TODO JPEG image ignores circle -->
        <img
            src={Rachael.src}
            alt="Team Member Image"
            class="user image"
          />
    </div>
</div>
