---
import Layout from "../../layouts/PageLayout.astro";
import {ProviderRegistration} from "../../components/users/ProviderRegistration";
---

<Layout>
  <h1>Create Provider Account</h1>
  <div>
    <ProviderRegistration client:only="solid-js" />
  </div>
</Layout>
