---
import Layout from "../../layouts/PageLayout.astro";
import {ProviderRegistration} from "../../components/users/ProviderRegistration";
---

<Layout>
  <div>
    <ProviderRegistration client:load />
  </div>
</Layout>
