---
import Layout from "../../layouts/PageLayout.astro";
import { EditProfileButton } from "../../components/users/EditProfileButton";
---

<Layout>
  <div>
    <h1>Provider Profile Self View</h1>
    <EditProfileButton client:only="solid-js"/>
  </div>
</Layout>