---
import Layout from "../../layouts/PageLayout.astro";

import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import { ProviderProfileView } from "../../components/users/ProviderProfileView";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<Layout>
  <div>
    <h1>{t("pageTitles.viewProviderAccount")}</h1>
    <ProviderProfileView client:only="solid-js" />
  </div>
</Layout>
