---
import Layout from "../../layouts/PageLayout.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout>
  <div>
    <h1>{t("pageTitles.editClientAccount")}</h1>
  </div>
</Layout>
