---
import Layout from "../../layouts/PageLayout.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import { EditProfileButton } from "../../components/users/EditProfileButton";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout pageTitle={t("pageTitles.viewClientAccount")}>
  <div>
    <h1>{t("pageTitles.editClientAccount")}</h1>
    <EditProfileButton client:only="solid-js" />
  </div>
</Layout>
