---
import Layout from "../../layouts/PageLayout.astro";
import { EditProfileButton } from "../../components/users/EditProfileButton";
---

<Layout>
  <div>
    <h1>Client Profile Self View</h1>
    <EditProfileButton client:load />
  </div>
</Layout>