---
import Layout from "../../layouts/PageLayout.astro";
import { EditProfileButton } from "../../components/users/EditProfileButton";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import { DeletePostButton } from "../../components/posts/DeletePostButton";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout>
  <div>
    <h1>{t("pageTitles.viewClientAccount")}</h1>
    <EditProfileButton client:only="solid-js" />
    <DeletePostButton client:only="solid-js" />
  </div>
</Layout>
