---
import { SITE } from '.././config.js';


---

<!DOCTYPE html>
<html lang={SITE.language} dir={SITE.textDirection} class="2xl:text-[20px]">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
    <meta name="generator" content = {Astro.generator} >
    <link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'></link>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"/>
  </head>

  <body class="mx-4 text-page bg-gray-200 dark:bg-black dark:text-slate-400">
    <slot />
  </body>
</html>