---
import { SITE } from '.././config.js';
import { getLangFromUrl } from '../i18n/utils'

const { pageTitle } = Astro.props;

const lang = getLangFromUrl(Astro.url)
---

<!DOCTYPE html>
<html lang={lang} dir={SITE.textDirection} class="2xl:text-[20px]">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
    <meta name="generator" content = {Astro.generator} >
    <meta charset="UTF-8">
    <!-- <link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'></link> -->
    <!-- TODO: Is this still something that should be here? -->
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"/>  -->
    <link rel="stylesheet" href="/tinymce/skins/ui/oxide/skin.min.css">
    <link rel="stylesheet" href="/tinymce/skins/ui/oxide-dark/skin.min.css">
    <link rel="stylesheet" href="/tinymce/skins/content/default/content.min.css">
    <link rel="stylesheet" href="/tinymce/skins/ui/oxide/content.min.css">
    <link rel="stylesheet" href="/tinymce/skins/ui/oxide-dark/content.min.css">
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    
    <title>{pageTitle}</title>
  </head>

  <body class="md:mx-4 text-page bg-background1 dark:bg-background1-DM text-ptext1 dark:text-ptext1-DM">
    <!-- <script src="../../../node_modules/tinymce/tinymce.min.js" referrerpolicy="origin"></script> -->
    <slot />
  </body>
</html>