---
import Layout from "../layouts/BaseLayout.astro";
import Footer from "../components/common/Footer.astro";
import { Header } from "../components/common/Header";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { ui } from "../i18n/ui";
import type { uiObject } from "../i18n/uiType";
import { WindowSize } from "../components/common/WindowSize";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const values = ui[lang] as uiObject;

const headerData = values.headerData;
const footerData = values.footerData;

const { pageTitle, pageDescription, stickyFooter = true } = Astro.props;
---

<Layout {pageTitle} {pageDescription}>
    <div class="flex flex-col min-h-screen">
        <div class="header pt-4">
            <Header client:only="solid-js" />
        </div>
        <main class="flex-grow">
            <div class="flex justify-center mx-2">
                <WindowSize client:only="solid-js" />
                <slot />
            </div>
        </main>
        <div class={`footer ${stickyFooter ? "sticky" : ""} bottom-0 z-50`}>
            <Footer {...footerData} />
        </div>
    </div>
</Layout>
