---
import Layout from '../layouts/BaseLayout.astro';
import { headerData, footerData } from '../data';
import Footer from "../components/common/Footer.astro";
import Header from "../components/common/Header.astro";
const {pageTitle, footer = true, header = true} = Astro.props
---
<Layout>
  <slot name="header">
    <Header {...headerData} />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
