---
import Layout from '../layouts/BaseLayout.astro';
import { headerData, footerData } from '../data';
import Footer from "../components/common/Footer.astro";
import Header from "../components/common/Header.astro";
const {pageTitle} = Astro.props
---
<Layout {pageTitle}>
  <div class="header">
    <Header {...headerData} />
  </div>
  <main>
    <slot />
  </main>
  <div class="footer">
    <Footer {...footerData} />
  </div>
</Layout>
