---
import Layout from '../layouts/PageLayout.astro';
import { productCategoryData } from '../data';
import SearchBar from "../components/services/SearchBar.astro";
import CategoryCarousel from '../components/services/CategoryCarousel.txt';

const {pageTitle} = Astro.props
---
<Layout {pageTitle}>
    <div>
      <SearchBar />
    </div>
    <div>
      <!-- @ts-ignore -->
      <CategoryCarousel {...productCategoryData}/>
    </div>
    <main>
      <slot />
    </main>
  </Layout>
  